[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"

good-names=db
extension-pkg-whitelist=pydantic

ignore=
    tests,   # test files

disable=
    R0903,  # too-few-public-methods

[FORMAT]
max-line-length=120