anyio==3.4.0
asgiref==3.4.1
click==8.0.3
fastapi==0.70.0
fastapi-login==1.7.3
gunicorn==20.0.4
greenlet==1.1.2
h11==0.12.0
idna==3.3
passlib==1.7.4
pydantic==1.8.2
PyJWT==2.3.0
python-multipart==0.0.5
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.27
starlette==0.16.0
typing-extensions==4.0.0
uvicorn==0.15.0
PyMySQL==1.0.2
python-dotenv==0.19.2
psycopg2==2.9.3
bcrypt==3.2.0